@font-face {
    font-family: 'funt';
    src: url('asset/AeroviasBrasilNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.funt {
    font-family: 'funt';
}

html, body {
    overflow: hidden;
}

body, html, #__next{
    background-color: rgb(192, 255, 234) !important;

}

.underline {
  text-decoration-line: underline;
}